{% extends 'base.html' %}
{% block body %}
    <div class="container my-5">
        <div class="row">
            <!-- Column for the image -->
            <div class="col-md-3 d-flex justify-content-center align-items-center">
                <img src="{{ url_for('static', filename='Input-vl.png') }}" alt="Conservar Finder Workflow" class="img-fluid" style="max-width: 450%; height:auto ;  margin-bottom: -20px;">
            </div>
            
            <!-- Column for the form -->
            <div class="col-md-8 d-flex flex-column align-items-center">
                <h1>Conservar Finder</h1>
                <div class="mb-3"></div>
                <h5><em>Analyze Conserved and Variable Regions within Aligned FASTA Sequences</em></h5>
                <div class="mb-4"></div>

                <form action="{{ url_for('upload_file') }}" method="POST" enctype="multipart/form-data" class="w-75">
                    <div class="mb-3">
                        <label for="file">Upload Aligned FASTA file: </label>
                        <input type="file" id="file" name="file" accept=".fasta,.fa" required>
                    </div>
                    <div class="mb-3">
                        <label for="omit_missing">Omit sequences with missing data(X) or gaps(-)</label>
                        <input type="checkbox" id="omit_missing" name="omit_missing">
                    </div>
                    <div class="mb-3">
                        <label for="email">Enter your email (required for <a href="https://www.ncbi.nlm.nih.gov/Web/Search/entrezfs.html">Entrez Retrieval System</a>):</label>
                        <div class="mb-3"></div>
                        <input type="email" id="email" name="email" required>
                        <input type="submit" class="btn btn-outline-primary" value="Upload">
                    </div>

                    <div class="alert alert-primary" role="alert">
                        It is advised to remove any missing values from your data before analysis, as this can yield better results. Using complete sequences of equal lengths is highly recommended.
                    </div>

                    <div class="mb-3"><h6><em>Developed by - Samved Kulkarni</em></h6></div>
                
                </form>
            </div>
        </div>
    </div>
{% endblock body %}
